In [66]:
import pandas as pd
import numpy as np

## Importation des données

In [67]:
l= []
for i in range(36):
    ch="train_"+str(i+1)+".csv"
    l.append(ch)

In [ ]:
df = pd.DataFrame({'A' : [np.nan]})
df.dropna().empty

In [68]:
TRAIN_NUMBER = 36
frames = []
for i in range(1, TRAIN_NUMBER+1):
    d = pd.read_csv('train_' + str(i) + '.csv', sep=";", decimal=',')
    frames.append(d)
df = pd.concat(frames)

In [ ]:
#df = pd.read_csv("train_1.csv",sep=';')
for i in range(len(l)):
    d = pd.read_csv(l[i] , sep=';',decimal=',')
    df = pd.concat([df, d])

In [69]:
df.shape

(189280, 31)

In [70]:
df.head()

,date,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,...,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,2014-01-01,6088001,5.5,0.198757,0.0,0.000000,4.0,1.970260,-386960.595711,-94260.682523,...,9.034338,-0.084999,0.007725,-0.013024,3.852825,1.330320,10.664653,-2.853134,1,janvier
1,2014-01-01,31069001,4.8,8.590036,0.0,0.000000,3.0,2.755962,-200181.123871,2282.951687,...,3.853128,1.396138,0.005036,0.000810,8.476699,-2.040020,15.462043,3.019614,1,janvier
2,2014-01-01,33281001,8.9,69.203856,0.0,0.000001,3.0,3.411283,-62310.340297,9483.691316,...,8.585184,0.387329,0.001372,0.000010,7.643070,3.029610,17.343600,4.889849,1,janvier
3,2014-01-01,35281001,6.8,65.270316,0.0,0.000000,3.0,4.655633,-61612.120075,-48356.475831,...,7.304130,-0.089267,0.000401,-0.000067,7.089030,-1.027446,13.981847,8.079973,1,janvier
4,2014-01-01,59343001,5.4,5.932505,0.0,0.000000,3.0,5.855930,-39553.109955,-1022.914242,...,5.829715,-0.489606,0.000204,-0.000191,4.546075,2.802554,9.941609,7.955489,1,janvier

In [71]:
df = df.replace(np.nan,0)
y_train = df['tH2_obs']

In [72]:

df = df.drop('tH2_obs', 1)

In [73]:
df.head()

,date,insee,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,...,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,2014-01-01,6088001,0.198757,0.0,0.000000,4.0,1.970260,-386960.595711,-94260.682523,-40545.510054,...,9.034338,-0.084999,0.007725,-0.013024,3.852825,1.330320,10.664653,-2.853134,1,janvier
1,2014-01-01,31069001,8.590036,0.0,0.000000,3.0,2.755962,-200181.123871,2282.951687,14399.918192,...,3.853128,1.396138,0.005036,0.000810,8.476699,-2.040020,15.462043,3.019614,1,janvier
2,2014-01-01,33281001,69.203856,0.0,0.000001,3.0,3.411283,-62310.340297,9483.691316,64790.365136,...,8.585184,0.387329,0.001372,0.000010,7.643070,3.029610,17.343600,4.889849,1,janvier
3,2014-01-01,35281001,65.270316,0.0,0.000000,3.0,4.655633,-61612.120075,-48356.475831,127450.659115,...,7.304130,-0.089267,0.000401,-0.000067,7.089030,-1.027446,13.981847,8.079973,1,janvier
4,2014-01-01,59343001,5.932505,0.0,0.000000,3.0,5.855930,-39553.109955,-1022.914242,117800.171480,...,5.829715,-0.489606,0.000204,-0.000191,4.546075,2.802554,9.941609,7.955489,1,janvier

In [10]:
df.to_csv("Data_Golbal.csv",sep=';')

In [11]:
df.to_csv("y_global.csv", sep=';')

In [74]:
df_res = df

## Visualisation Data

In [75]:
n,m = df.shape

In [76]:
df.isnull().sum()/n

date               0.0
insee              0.0
capeinsSOL0        0.0
ciwcH20            0.0
clwcH20            0.0
ddH10_rose4        0.0
ffH10              0.0
flir1SOL0          0.0
fllat1SOL0         0.0
flsen1SOL0         0.0
flvis1SOL0         0.0
hcoulimSOL0        0.0
huH2               0.0
iwcSOL0            0.0
nbSOL0_HMoy        0.0
nH20               0.0
ntSOL0_HMoy        0.0
pMER0              0.0
rr1SOL0            0.0
rrH20              0.0
tH2                0.0
tH2_VGrad_2.100    0.0
tH2_XGrad          0.0
tH2_YGrad          0.0
tpwHPA850          0.0
ux1H10             0.0
vapcSOL0           0.0
vx1H10             0.0
ech                0.0
mois               0.0
dtype: float64

In [77]:
X=df
x_var_names = X.columns
x_types = {x_var_name: X[x_var_name].dtype for x_var_name in x_var_names}

In [16]:
df = df.replace(np.nan,0)

In [17]:
df.isnull().sum()

date               0
insee              0
capeinsSOL0        0
ciwcH20            0
clwcH20            0
ddH10_rose4        0
ffH10              0
flir1SOL0          0
fllat1SOL0         0
flsen1SOL0         0
flvis1SOL0         0
hcoulimSOL0        0
huH2               0
iwcSOL0            0
nbSOL0_HMoy        0
nH20               0
ntSOL0_HMoy        0
pMER0              0
rr1SOL0            0
rrH20              0
tH2                0
tH2_VGrad_2.100    0
tH2_XGrad          0
tH2_YGrad          0
tpwHPA850          0
ux1H10             0
vapcSOL0           0
vx1H10             0
ech                0
mois               0
dtype: int64

In [18]:
df = pd.get_dummies(data = df,columns = ['mois'])

In [78]:
df1 = df
df1 = df1.drop('date',1)
df1 = df1.drop('flvis1SOL0',1)
df1 = df1.drop('mois',1)

In [55]:
df1 = df1.drop('date',1)

In [79]:
df1['ddH10_rose4'] = pd.to_numeric(df1['ddH10_rose4'])

In [80]:
from sklearn import linear_model
regr = linear_model.LinearRegression()

In [81]:
# Train the model using the training sets
regr.fit(df1.values, y_train.values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [82]:
test = pd.read_csv('test.csv', sep=';',decimal=',')

In [ ]:
test

In [83]:
test = test.drop('date',1)
test = test.drop('flvis1SOL0',1)
test = test.drop('mois',1)

In [84]:
test['ddH10_rose4'] = pd.to_numeric(test['ddH10_rose4'])

In [87]:
#test = pd.get_dummies(data = test,columns = ['mois'])
pred = regr.predict(test)

In [85]:
test = test.replace(np.nan,0)

In [86]:
test.isnull().sum()

insee              0
capeinsSOL0        0
ciwcH20            0
clwcH20            0
ddH10_rose4        0
ffH10              0
flir1SOL0          0
fllat1SOL0         0
flsen1SOL0         0
hcoulimSOL0        0
huH2               0
iwcSOL0            0
nbSOL0_HMoy        0
nH20               0
ntSOL0_HMoy        0
pMER0              0
rr1SOL0            0
rrH20              0
tH2                0
tH2_VGrad_2.100    0
tH2_XGrad          0
tH2_YGrad          0
tpwHPA850          0
ux1H10             0
vapcSOL0           0
vx1H10             0
ech                0
dtype: int64

In [88]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, pred))

NameError: name 'mean_squared_error' is not defined

In [89]:
pred
len(pred)

21168

In [90]:
t = pd.read_csv('test_answer_template.csv', sep=';',decimal=',')

In [91]:
t['tH2_obs']=pred

In [92]:
pred

array([ 18.53762393,  13.04276864,  11.99017848, ...,  23.4310715 ,
        22.63003944,  22.95154673])

In [93]:
t

           date     insee  ech    tH2_obs
0      20/06/16   6088001    1  18.537624
1      20/06/16  31069001    1  13.042769
2      20/06/16  33281001    1  11.990178
3      20/06/16  35281001    1  14.882143
4      20/06/16  59343001    1  14.242323
5      20/06/16  67124001    1  10.706104
6      20/06/16  75114001    1  17.750363
7      21/06/16   6088001    1  18.684455
8      21/06/16  31069001    1  15.831139
9      21/06/16  33281001    1  14.651365
10     21/06/16  35281001    1  15.731673
11     21/06/16  59343001    1  14.149017
12     21/06/16  67124001    1  14.222036
13     21/06/16  75114001    1  16.148315
14     22/06/16   6088001    1  18.796226
15     22/06/16  31069001    1  19.954353
16     22/06/16  33281001    1  19.795159
17     22/06/16  35281001    1  17.850240
18     22/06/16  59343001    1  13.994480
19     22/06/16  67124001    1  16.002687
20     22/06/16  75114001    1  19.301977
21     23/06/16   6088001    1  23.119421
22     23/06/16  31069001    1  21.719494
23     23/06/16  33281001    1  22.252181
24     23/06/16  35281001    1  20.655540
25     23/06/16  59343001    1  19.987201
26     23/06/16  67124001    1  17.704295
27     23/06/16  75114001    1  23.737604
28     24/06/16   6088001    1  26.003995
29     24/06/16  31069001    1  19.007138
...         ...       ...  ...        ...
21138  17/05/17  67124001   36  23.268433
21139  17/05/17  75114001   36  14.853025
21140  18/05/17   6088001   36  18.413261
21141  18/05/17  31069001   36  16.607262
21142  18/05/17  33281001   36  16.419635
21143  18/05/17  35281001   36  15.541399
21144  18/05/17  59343001   36  12.127883
21145  18/05/17  67124001   36  13.382579
21146  18/05/17  75114001   36  15.709207
21147  19/05/17   6088001   36  20.666301
21148  19/05/17  31069001   36  20.333808
21149  19/05/17  33281001   36  18.078672
21150  19/05/17  35281001   36  15.143683
21151  19/05/17  59343001   36  16.053434
21152  19/05/17  67124001   36  16.262036
21153  19/05/17  75114001   36  14.990210
21154  20/05/17   6088001   36  21.108915
21155  20/05/17  31069001   36  23.387304
21156  20/05/17  33281001   36  22.487260
21157  20/05/17  35281001   36  19.184045
21158  20/05/17  59343001   36  18.839810
21159  20/05/17  67124001   36  20.863298
21160  20/05/17  75114001   36  19.517374
21161  21/05/17   6088001   36  21.080037
21162  21/05/17  31069001   36  26.257446
21163  21/05/17  33281001   36  27.609985
21164  21/05/17  35281001   36  24.398333
21165  21/05/17  59343001   36  23.431072
21166  21/05/17  67124001   36  22.630039
21167  21/05/17  75114001   36  22.951547

[21168 rows x 4 columns]

In [94]:
t.to_csv('test_BIGDonnees.csv',sep=';')