In [28]:
import pandas as pd
import numpy as np

## Importation des données

In [195]:
TRAIN_NUMBER = 36
frames = []
for i in range(1, TRAIN_NUMBER+1):
    d = pd.read_csv('train_' + str(i) + '.csv', sep=";", decimal=',')
    frames.append(d)
df = pd.concat(frames)

In [196]:
df.shape

(189280, 31)

In [7]:
df.to_csv("Data_Golbal.csv",sep=';')

In [8]:
df.to_csv("y_global.csv", sep=';')

In [121]:
df_res = df

## Visualisation Data

In [122]:
n,m = df.shape

#### Description des variables

In [55]:
df['capeinsSOL0'].describe()

count    170492.000000
mean         59.169631
std         142.986766
min           0.000000
25%           0.124246
50%           5.425625
75%          47.025052
max        2448.672118
Name: capeinsSOL0, dtype: float64

In [11]:
df['nH20'].describe()

count    178493.000000
mean          0.264736
std           1.297475
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           8.490245
Name: nH20, dtype: float64

In [56]:
s = df['capeinsSOL0']

In [104]:
df['mois'].describe()

count     189280
unique        12
top        avril
freq       21420
Name: mois, dtype: object

In [136]:
df.isnull().sum()

date                   0
insee                  0
tH2_obs               20
capeinsSOL0        18788
ciwcH20              973
clwcH20             4480
ddH10_rose4         4578
ffH10               4578
flir1SOL0           1162
fllat1SOL0          1061
flsen1SOL0          1129
flvis1SOL0          1099
hcoulimSOL0          973
huH2                4557
iwcSOL0              973
nbSOL0_HMoy          987
nH20               10787
ntSOL0_HMoy          987
pMER0               4809
rr1SOL0             1015
rrH20               4487
tH2                 4557
tH2_VGrad_2.100     4564
tH2_XGrad           4557
tH2_YGrad           4557
tpwHPA850           1022
ux1H10              4578
vapcSOL0             994
vx1H10              4564
ech                    0
mois                   0
dtype: int64

In [137]:
df = df.drop(['date'], 1)
df = df.drop('ddH10_rose4', 1)
df = df.drop('flvis1SOL0',1)
df = df.drop('mois',1)

In [138]:
df.dtypes

insee                int64
tH2_obs            float64
capeinsSOL0        float64
ciwcH20            float64
clwcH20            float64
ffH10              float64
flir1SOL0          float64
fllat1SOL0         float64
flsen1SOL0         float64
hcoulimSOL0        float64
huH2               float64
iwcSOL0            float64
nbSOL0_HMoy        float64
nH20               float64
ntSOL0_HMoy        float64
pMER0              float64
rr1SOL0            float64
rrH20              float64
tH2                float64
tH2_VGrad_2.100    float64
tH2_XGrad          float64
tH2_YGrad          float64
tpwHPA850          float64
ux1H10             float64
vapcSOL0           float64
vx1H10             float64
ech                  int64
dtype: object

In [139]:
# remove duplicates columns
remove = []
cols = df.columns
for i in range(len(cols)-1):
    v = df[cols[i]].values
    for j in range(i+1,len(cols)):
        if np.array_equal(v,df[cols[j]].values):
            remove.append(cols[j])

remove

[]

#### centrée-reduite les variables

In [ ]:
#normalized_df=(df-df.mean())/df.std()

In [140]:
df.columns

Index(['insee', 'tH2_obs', 'capeinsSOL0', 'ciwcH20', 'clwcH20', 'ffH10',
       'flir1SOL0', 'fllat1SOL0', 'flsen1SOL0', 'hcoulimSOL0', 'huH2',
       'iwcSOL0', 'nbSOL0_HMoy', 'nH20', 'ntSOL0_HMoy', 'pMER0', 'rr1SOL0',
       'rrH20', 'tH2', 'tH2_VGrad_2.100', 'tH2_XGrad', 'tH2_YGrad',
       'tpwHPA850', 'ux1H10', 'vapcSOL0', 'vx1H10', 'ech'],
      dtype='object')

In [141]:
variables = ['capeinsSOL0', 'ciwcH20', 'clwcH20',
       'ffH10', 'flir1SOL0', 'fllat1SOL0', 'flsen1SOL0',
       'hcoulimSOL0', 'huH2', 'iwcSOL0', 'nbSOL0_HMoy', 'nH20', 'ntSOL0_HMoy',
       'pMER0', 'rr1SOL0', 'rrH20', 'tH2', 'tH2_VGrad_2.100', 'tH2_XGrad',
       'tH2_YGrad', 'tpwHPA850', 'ux1H10', 'vapcSOL0', 'vx1H10']

In [143]:
df['count-nan'] = pd.Series(df.isnull().sum(axis=1),index = df.index)
df = df[df['count-nan']<=2]
mean = (df[variables].apply(np.nanmean))
var = (df[variables].apply(np.nanvar))

In [202]:
# df = pd.concat([df, pd.get_dummies(df['insee'])], axis=1)
df = df.drop('insee',1)

In [206]:
df.dtypes

,date,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,...,vx1H10,ech,mois,6088001,31069001,33281001,35281001,59343001,67124001,75114001
0,2014-01-01,5.500000,0.198757,0.0,0.000000e+00,4.0,1.970260,-386960.595711,-9.426068e+04,-4.054551e+04,...,-2.853134,1,janvier,1,0,0,0,0,0,0
1,2014-01-01,4.800000,8.590036,0.0,0.000000e+00,3.0,2.755962,-200181.123871,2.282952e+03,1.439992e+04,...,3.019614,1,janvier,0,1,0,0,0,0,0
2,2014-01-01,8.900000,69.203856,0.0,1.026762e-06,3.0,3.411283,-62310.340297,9.483691e+03,6.479037e+04,...,4.889849,1,janvier,0,0,1,0,0,0,0
3,2014-01-01,6.800000,65.270316,0.0,0.000000e+00,3.0,4.655633,-61612.120075,-4.835648e+04,1.274507e+05,...,8.079973,1,janvier,0,0,0,1,0,0,0
4,2014-01-01,5.400000,5.932505,0.0,0.000000e+00,3.0,5.855930,-39553.109955,-1.022914e+03,1.178002e+05,...,7.955489,1,janvier,0,0,0,0,1,0,0
5,2014-01-01,2.900000,0.000000,0.0,0.000000e+00,3.0,6.697897,-232184.640842,-4.899006e+04,1.903741e+05,...,9.243589,1,janvier,0,0,0,0,0,1,0
6,2014-01-01,7.000000,13.271466,0.0,2.494773e-07,3.0,3.185958,-25228.272328,-1.851339e+04,-3.158362e+03,...,7.030941,1,janvier,0,0,0,0,0,0,1
7,2014-01-02,7.900000,2.588260,0.0,0.000000e+00,1.0,2.608449,-154865.268269,-1.238937e+05,-5.591316e+04,...,-4.782408,1,janvier,1,0,0,0,0,0,0
8,2014-01-02,9.900000,0.777403,0.0,0.000000e+00,3.0,4.282281,-140018.547252,-2.070930e+04,1.290162e+05,...,6.360897,1,janvier,0,1,0,0,0,0,0
9,2014-01-02,10.900000,83.283533,0.0,0.000000e+00,4.0,5.661406,-95081.575267,-1.802241e+05,2.683988e+05,...,0.263937,1,janvier,0,0,1,0,0,0,0
10,2014-01-02,10.400000,136.048826,0.0,0.000000e+00,4.0,8.379668,-103235.862329,-2.085374e+05,3.278147e+05,...,13.215906,1,janvier,0,0,0,1,0,0,0
11,2014-01-02,9.800000,3.438741,0.0,0.000000e+00,3.0,10.567909,-16301.921954,-1.442631e+05,2.259360e+05,...,16.945114,1,janvier,0,0,0,0,1,0,0
12,2014-01-02,7.100000,0.000000,0.0,0.000000e+00,3.0,4.662978,-69724.401757,-3.795455e+04,8.437621e+04,...,6.621457,1,janvier,0,0,0,0,0,1,0
13,2014-01-02,10.800000,4.912787,0.0,0.000000e+00,3.0,7.950356,-29124.119096,-9.198212e+04,1.437239e+05,...,16.027232,1,janvier,0,0,0,0,0,0,1
14,2014-01-03,9.100000,0.219066,0.0,0.000000e+00,2.0,0.743717,-237180.748754,-5.351220e+04,-2.341343e+04,...,-3.865133,1,janvier,1,0,0,0,0,0,0
15,2014-01-03,11.500000,12.982000,0.0,0.000000e+00,3.0,3.444289,-79146.819594,-8.337324e+04,1.590443e+05,...,8.130328,1,janvier,0,1,0,0,0,0,0
16,2014-01-03,10.300000,24.228638,0.0,0.000000e+00,3.0,3.581035,-23572.928630,-5.625711e+04,1.091153e+05,...,7.340923,1,janvier,0,0,1,0,0,0,0
17,2014-01-03,11.700000,20.838565,0.0,0.000000e+00,3.0,7.086575,-5485.794837,-5.637191e+04,1.571232e+05,...,12.446455,1,janvier,0,0,0,1,0,0,0
18,2014-01-03,8.900000,0.000000,0.0,0.000000e+00,3.0,8.509628,-194626.169547,8.403266e+02,2.040818e+05,...,12.338779,1,janvier,0,0,0,0,1,0,0
19,2014-01-03,5.700000,0.000000,0.0,5.960547e-06,3.0,4.015031,-232938.324541,4.956101e+04,8.707508e+04,...,5.498690,1,janvier,0,0,0,0,0,1,0
20,2014-01-03,9.800000,0.000000,0.0,0.000000e+00,3.0,4.291087,-167914.767938,8.803284e+03,1.167653e+05,...,9.394622,1,janvier,0,0,0,0,0,0,1
21,2014-01-04,11.300000,3.811554,0.0,0.000000e+00,2.0,4.599854,-62666.187819,-1.310362e+05,-4.275125e+04,...,-1.057651,1,janvier,1,0,0,0,0,0,0
22,2014-01-04,8.300000,19.120517,0.0,0.000000e+00,2.0,1.653803,-120673.272485,7.472223e+03,8.330292e+03,...,2.285289,1,janvier,0,1,0,0,0,0,0
23,2014-01-04,9.300000,2.154257,0.0,0.000000e+00,3.0,2.940890,-122875.724116,-1.383004e+04,5.737162e+04,...,3.119345,1,janvier,0,0,1,0,0,0,0
24,2014-01-04,9.500000,90.299603,0.0,0.000000e+00,3.0,8.010347,-145042.473267,-2.079344e+05,3.716964e+05,...,14.447446,1,janvier,0,0,0,1,0,0,0
25,2014-01-04,7.300000,0.352812,0.0,0.000000e+00,3.0,6.952834,-295245.369620,-7.651783e+04,2.611032e+05,...,10.358585,1,janvier,0,0,0,0,1,0,0
26,2014-01-04,8.200000,0.000000,0.0,0.000000e+00,3.0,4.526396,-260450.575114,2.110909e+04,1.634386e+05,...,6.361765,1,janvier,0,0,0,0,0,1,0
27,2014-01-04,7.800000,0.000000,0.0,0.000000e+00,3.0,3.918084,-261412.929246,1.882626e+04,6.689705e+04,...,7.718770,1,janvier,0,0,0,0,0,0,1
28,2014-01-05,11.200000,46.409728,0.0,0.000000e+00,2.0,4.280506,-87260.443008,-1.239469e+05,-3.544094e+04,...,-2.453392,1,janvier,1,0,0,0,0,0,0
29,2014-01-05,5.300000,68.568652,0.0,0.000000e+00,4.0,7.377323,-155879.689659,-1.479457e+05,1.784342e+05,...,3.275116,1,janvier,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105,2016-04-26,9.100000,642.175699,0.0,0.000000e+00,4.0,7.015091,-322182.616074,-7.794281e+05,-7.018950e+05,...,-3.024890,36,avril,0,0,0,0,0,1,0
2106,2016-04-26,10.500000,402.255105,0.0,0.000000e+00,4.0,3.612367,-539805.425766,-3.111839e+05,-1.313129e+06,...,1.625249,36,avril,0,0,0,0,0,0,1
2107,2016-04-27,16.900000,2.015713,0.0,0.000000e+00,2.0,3.097872,-396425.323090,-2.388048e+05,-2.912901e+05,...,2.086543,36,avril,1,0,0,0,0,0,0
2108,2016-04-27,14.400000,218.541923,0.0,0.000000e+00,1.0,3.658512,-581470.337619,-7.320157e+05,-1.064425e+06,...,-6.850987,36,avril,0,1,0,0,0,0,0
2109,2016-04-27,12.600000,205.671206,0.0,0.000000e+00,1.0,3.292076,-527578.093879,-7.666064e+05,-9.839845e+05,...,-7.028704,36,avril,0,0,1,0,0,0,0
2110,2016-04-27,10.500000,140.882674,0.0,0.000000e+00,4.0,1.953731,-434865.762150,-8.138951e+05,-7.451941e+05,...,-3.967267,36,avril,0,0,0,1,0,0,0
2111,2016-04-27,9.000000,180.589030,0.0,0.000000e+00,4.0,4.504929,-237270.853749,-8.129283e+05,-4.436907e+05,...,0.001718,36,avril,0,0,0,0,1,0,0
2112,2016-04-27,7.600000,214.451285,0.0,0.000000e+00,1.0,1.743768,-268315.739277,-6.244458e+05,-4.082587e+05,...,-1.815326,36,avril,0,0,0,0,0,1,0
2113,2016-04-27,11.000000,147.581273,0.0,0.000000e+00,4.0,3.103755,-504757.270436,-3.931878e+05,-1.254908e+06,...,-4.920020,36,avril,0,0,0,0,0,0,1
2114,2016-04-28,17.600000,7.022754,0.0,0.000000e+00,3.0,2.747586,-443654.085472,-1.669572e+05,-2.934561e+05,...,2.543037,36,avril,1,0,0,0,0,0,0
2115,2016-04-28,15.100000,195.040088,0.0,0.000000e+00,1.0,2.363040,-702748.592126,-7.674763e+05,-1.014609e+06,...,-5.540122,36,avril,0,1,0,0,0,0,0
2116,2016-04-28,14.900000,178.004285,0.0,0.000000e+00,4.0,0.800079,-679957.416420,-8.239718e+05,-8.459069e+05,...,1.342132,36,avril,0,0,1,0,0,0,0
2117,2016-04-28,13.800000,364.699734,0.0,0.000000e+00,4.0,6.830096,-262963.275972,-6.953747e+05,-5.636439e+05,...,0.375186,36,avril,0,0,0,1,0,0,0
2118,2016-04-28,8.300000,78.880729,0.0,0.000000e+00,4.0,6.376830,-62183.723906,-3.645796e+05,-6.231864e+04,...,5.751418,36,avril,0,0,0,0,1,0,0
2119,2016-04-28,13.800000,106.628272,0.0,0.000000e+00,3.0,3.225431,-453810.884842,-1.122790e+06,-5.966830e+05,...,6.343283,36,avril,0,0,0,0,0,1,0
2120,2016-04-28,13.000000,149.086742,0.0,0.000000e+00,3.0,4.705740,-246733.193324,-1.121268e+05,-8.360896e+05,...,6.844052,36,avril,0,0,0,0,0,0,1
2121,2016-04-29,16.799999,26.969364,0.0,0.000000e+00,3.0,5.236870,-382414.565850,-2.165580e+05,-3.351010e+05,...,6.426685,36,avril,1,0,0,0,0,0,0
2122,2016-04-29,12.000000,254.453347,0.0,0.000000e+00,4.0,6.710722,-495583.763357,-6.292814e+05,-1.181084e+06,...,-5.618169,36,avril,0,1,0,0,0,0,0
2123,2016-04-29,9.800000,278.790547,0.0,0.000000e+00,1.0,5.048366,-470440.941873,-7.213810e+05,-1.055285e+06,...,-11.272843,36,avril,0,0,1,0,0,0,0
2124,2016-04-29,12.500000,237.366765,0.0,0.000000e+00,4.0,5.395507,-369055.691570,-8.686991e+05,-8.104112e+05,...,-9.274336,36,avril,0,0,0,1,0,0,0
2125,2016-04-29,10.700000,204.065301,0.0,0.000000e+00,1.0,5.969822,-315300.165702,-1.079660e+06,-4.870087e+05,...,-9.431989,36,avril,0,0,0,0,1,0,0
2126,2016-04-29,15.700000,464.636083,0.0,0.000000e+00,3.0,3.475576,-390858.133549,-1.143728e+06,-4.495202e+05,...,5.329191,36,avril,0,0,0,0,0,1,0
2127,2016-04-29,9.900000,130.865145,0.0,0.000000e+00,1.0,5.478642,-209542.737226,-6.421322e+05,-4.882645e+05,...,-11.156114,36,avril,0,0,0,0,0,0,1
2128,2016-04-30,16.799999,279.112451,0.0,0.000000e+00,1.0,1.390513,-278121.092209,-3.691100e+05,-8.131458e+04,...,-0.958647,36,avril,1,0,0,0,0,0,0
2129,2016-04-30,12.400000,266.050903,0.0,0.000000e+00,4.0,7.806851,-474954.011400,-6.383706e+05,-1.216024e+06,...,-7.931571,36,avril,0,1,0,0,0,0,0
2130,2016-04-30,14.900000,229.886278,0.0,0.000000e+00,1.0,3.996946,-595876.913304,-8.760772e+05,-1.042601e+06,...,-8.047186,36,avril,0,0,1,0,0,0,0
2131,2016-04-30,13.700000,96.285835,0.0,0.000000e+00,4.0,2.393113,-523071.456205,-9.454344e+05,-8.339497e+05,...,-2.482533,36,avril,0,0,0,1,0,0,0
2132,2016-04-30,13.200000,79.145940,0.0,0.000000e+00,1.0,3.650718,-477924.161600,-1.278428e+06,-5.521149e+05,...,-6.578030,36,avril,0,0,0,0,1,0,0
2133,2016-04-30,10.900000,84.289466,0.0,0.000000e+00,1.0,5.224577,-88756.735237,-5.597534e+05,-2.122304e+05,...,-7.527475,36,avril,0,0,0,0,0,1,0
2134,2016-04-30,14.700000,97.676568,0.0,0.000000e+00,1.0,4.217099,-584331.310346,-3.814900e+05,-1.412787e+06,...,-9.060151,36,avril,0,0,0,0,0,0,1

In [194]:
df[variables] = (df[variables]-mean)/var
# Replace nan with 0
y_train = df['tH2_obs']
y_train = y_train.fillna(y_train.mean())
df = df.drop('tH2_obs', 1)
df = df.drop('count-nan', 1)
df = df.replace(np.nan,0)
y_train.isnull().sum()

KeyError: 'tH2_obs'

In [ ]:
df[variables]

In [ ]:
df['count-nan'] = pd.Series(df.isnull().sum(axis=1),index = df.index)
df = df[df['count-nan']<=2]

In [ ]:
# Replace nan with 0
#df = df.replace(np.nan,0)
# Replace nan with mean 
#df = df.fillna(df.mean())

In [ ]:
df[variables].isnull().sum()

In [ ]:
# remplacer les valeurs nuls par une regression

In [ ]:
#Flux visible en J/m2
df['flvis1SOL0'] = pd.to_numeric(df['flvis1SOL0'])
df['flvis1SOL0'] = df.replace(np.nan,df['flvis1SOL0'].mean())

In [ ]:
# la variable qualitative
df['mois'] = df.replace(np.nan,'avril')

#### Variable Mois et Date

In [ ]:
df = pd.get_dummies(data = df,columns = ['mois'])

In [ ]:
# transformer la variable date en date
#df['date'] = pd.to_datetime(df['date'])

#### Variable non numerique

In [ ]:
df['ddH10_rose4'].describe()

In [ ]:
df['ddH10_rose4'] = pd.to_numeric(df['ddH10_rose4'])
df['ddH10_rose4'] = df.replace(np.nan,3)

In [ ]:

#Direction du vent à 10 mètres en rose4
df = pd.get_dummies(data = df,columns = ['ddH10_rose4'])

df = pd.get_dummies(data = df,columns = ['insee'])

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
df.boxplot(column="ciwcH20")

#### Correlation entre les variables

In [ ]:
import matplotlib.pyplot as plt
def plot_corr(df,size=10):
    '''Function plots a graphical correlation matrix for each pair of columns in the dataframe.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot'''

    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns);
    plt.yticks(range(len(corr.columns)), corr.columns);

In [ ]:
plot_corr(df,10)

In [ ]:
pd.scatter_matrix(df, alpha = 0.3, figsize = (14,8), diagonal = 'kde')
import seaborn as sns
f, ax = plt.subplots(figsize=(10, 8))
corr = df.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)
sns.pairplot(df)

### Feature Selection

### Model

#### Regression Lineare

In [ ]:
from sklearn import linear_model
regr = linear_model.LinearRegression()

In [ ]:
# Train the model using the training sets
regr.fit(df.values, y_train.values)

#### RandomForest

In [ ]:
df = df.drop(['flvis1SOL0'], 1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators = 500, oob_score = True, n_jobs = -1,random_state =50,max_features = "auto", min_samples_leaf = 50)

In [ ]:
model.fit(df, y_train)

#### Boosting

#### RN

### Test

In [ ]:
test = pd.read_csv('test.csv', sep=';',decimal=',')

In [ ]:
test = test.drop('date',1)
test = test.drop('ddH10_rose4', 1)
test = test.drop('flvis1SOL0',1)
test = test.drop('mois',1)
tmptest = pd.get_dummies(test['insee'])

In [ ]:
# test['count-nan'] = pd.Series(test.isnull().sum(axis=1),index = test.index)
# test = test[test['count-nan']<=2]
mean = (test[variables].apply(np.nanmean))
var = (test[variables].apply(np.nanvar))

In [ ]:
test[variables] = (test[variables]-mean)/var
# Replace nan with 0
test = test.replace(np.nan,0)
# test = test.fillna(test.mean())

In [ ]:
#Flux visible en J/m2
test['flvis1SOL0'] = pd.to_numeric(test['flvis1SOL0'])
test['flvis1SOL0'] = test.replace(np.nan,test['flvis1SOL0'].mean())

In [ ]:
test = test.drop(['flvis1SOL0'], 1)

In [ ]:
test['capeinsSOL0']

In [ ]:
test['ddH10_rose4'] = pd.to_numeric(test['ddH10_rose4'])
test['ddH10_rose4'] = test.replace(np.nan,3)

In [ ]:
test['mois_avril'] = 0
test['mois_février'] = 0
test['mois_janvier' ] = 0
test['mois_mars'] = 0

In [ ]:
df.columns  'mois_avril' 'mois_février'  'mois_janvier'  'mois_mars'

In [ ]:
test = pd.get_dummies(data = test,columns = ['insee'])
test = pd.get_dummies(data = test,columns = ['ddH10_rose4'])
test = pd.get_dummies(data = test,columns = ['mois'])

In [ ]:
#prediction de la regression lineaire
pred_lin = regr.predict(test)

In [ ]:

#prediction de RandomForest
pred = model.predict(test)

In [ ]:
template_test = pd.read_csv('test_answer_template.csv', sep=';',decimal=',')

In [ ]:
#RegLineaire
template_test['tH2_obs'] = pred_lin
# template_test.to_csv('/Users/nabil/Desktop/testRL_BIGDonnees.csv',sep=';',decimal=',')
template_test.to_csv('testRL_BIGDonnees.csv',sep=';',decimal=',')

In [ ]:
#RandomForest
template_test['tH2_obs']=pred
template_test.to_csv('/Users/nabil/Desktop/test_BIGDonnees.csv',sep=';',decimal=',')